:root{
--Violet: hsl(257, 40%, 49%);
--Soft-Magenta: hsl(300, 69%, 71%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Violet);
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    margin: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    align-self: flex-start;
    width: 150px;
    margin: 10px 20px;
}

.illustration{
    align-self: flex-start;
    width: 90%;
    margin: 20px;

}

.content{
    text-align: center;
    color: white;
    font-size: 10px;
    width: 70%;
}

.content h1{
    font-family: "Poppins";
    font-weight: 600;
}

.content p{
    font-family: "Poppins";
    font-weight: 400;
    color: beige;
    margin: 15px ;
}

button{
    font-family: "Poppins";
    font-size: 10px;
    color: var(--Violet);
    box-shadow: black;
    padding: 8px 55px;
    border-radius: 30px;
    border: none;
    margin-bottom: 20px;
}

.icons{
    display: flex;
    justify-content: center;
}

.icon{
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    background-color: transparent;
    margin: 0 5px;
    padding: 2px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media only screen and (min-width:768px){
    .container{
        display: flex;
        flex-direction: row;
    }

    .content{
        text-align: left;
        margin: 50px 50px 0 0
    }

    .content p {
        margin: 15px 0;
    }

    button{
        padding: 10px 40px;
    }

    .icons{
        display: flex;
        justify-content: flex-end;
        margin-right: 50px;
    }
}